@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .preview {
    &__link {
      @apply hover:bg-grey-light-three -translate-y-[2px];

      &:link,
      &:visited {
        @apply flex items-center py-6 px-[3.25rem] transition-all duration-300 border-r-[1px] border-solid border-white no-underline;
      }

      &--active {
        @apply bg-grey-light-one;
      }
    }

    .fig-before {
      @apply content-[''] block h-full w-full absolute top-0 left-0 bg-gradient-to-br from-gradient-one to-gradient-two opacity-40;
    }

    &__fig {
      @apply flex-grow-0 flex-shrink-0 basis-[5.8rem] rounded-full overflow-hidden h-[5.8rem] mr-8 relative before:fig-before;
      backface-visibility: hidden;

      img {
        @apply block w-full h-full object-cover transition-all duration-300;
      }
    }

    &__data {
      @apply grid w-full grid-cols-beta gap-y-[0.1rem] items-center;
    }

    &__title {
      @apply text-[1.45rem] text-primary uppercase font-semibold text-ellipsis max-w-[25rem] whitespace-nowrap overflow-hidden;
      grid-column: 1/-1;
    }

    &__publisher {
      @apply text-[1.15rem] text-grey-dark-two uppercase font-semibold;
    }

    &__user-generated {
      @apply bg-grey-dark-two/[2%] bg-blend-darken flex items-center justify-center h-8 w-8 ml-auto rounded-[10rem] mr-7;
      background-color: darken(var(--color-grey-light-2), 2%);

      svg {
        @apply h-[1.2rem] w-[1.2rem] fill-primary;
      }
    }
  }
}
