@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .recipe {
    @apply bg-grey-light-one;

    &__fig {
      @apply h-[32rem] relative origin-top;

      &::before {
        content: '';
        @apply block h-full w-full absolute top-0 left-0 bg-gradient-to-br from-gradient-one to-gradient-two opacity-60;
      }
    }

    &__img {
      @apply w-full h-full block object-cover;
    }

    &__title {
      @apply absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-[20%] -skew-y-6 text-white font-bold text-[3.25rem] uppercase w-[70%] medium:w-1/2 leading-[1.95] text-center;

      span {
        @apply box-decoration-clone py-[1.3rem] px-8 bg-gradient-to-br from-gradient-one to-gradient-two;
      }
    }

    &__details {
      @apply flex items-center;
    }

    &__info {
      font-size: 1.65rem;
      text-transform: uppercase;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-right: 4.5rem;
      }
    }

    &__info-icon {
      height: 2.35rem;
      width: 2.35rem;
      fill: $color-primary;
      margin-right: 1.15rem;
    }

    &__info-data {
      margin-right: 0.5rem;
      font-weight: 700;
    }

    &__info-buttons {
      display: flex;
      margin-left: 1.6rem;
      transform: translateY(-1px);
    }

    &__user-generated {
      background-color: darken($color-grey-light-2, 2%);

      display: flex;
      align-items: center;
      justify-content: center;
      height: 4rem;
      width: 4rem;
      border-radius: 10rem;

      margin-left: auto;
      margin-right: 1.75rem;

      svg {
        height: 2.25rem;
        width: 2.25rem;
        fill: $color-primary;
      }
    }

    &__ingredients {
      padding: 5rem 8rem;
      font-size: 1.6rem;
      line-height: 1.4;
      background-color: $color-grey-light-2;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__ingredient-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2.5rem 3rem;
      list-style: none;
    }

    &__ingredient {
      display: flex;
    }

    &__icon {
      height: 2rem;
      width: 2rem;
      fill: $color-primary;
      margin-right: 1.1rem;
      flex: 0 0 auto;
      margin-top: 0.1rem;
    }

    &__quantity {
      margin-right: 0.5rem;
      flex: 0 0 auto;
    }

    &__directions {
      padding: 5rem 10rem;
      padding-bottom: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__directions-text {
      font-size: 1.7rem;
      text-align: center;
      margin-bottom: 3.5rem;
      color: $color-grey-dark-2;
    }

    &__publisher {
      font-weight: 700;
    }
  }
}
